body {
    background-image: url('../../assets/homebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
h1 {
    position: relative;
    top: 100px;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 10px;
    color: whitesmoke;
}
.settings-form {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.label {
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 4px;
    font-size: 44px;
    font-weight: 900;
    color: whitesmoke;
}
.settings-form input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 55, 255, 0.6);
    color:  whitesmoke;
}

.submitButton {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    background: rgba(255, 55, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 3px;
    font-size: 32px;
    color: whitesmoke;

}
.submitButton:hover, 
.back-button:hover  {
    background: rgba(255, 55, 255, 0.6);
    box-shadow: 0 0 15px rgba(255, 55, 255, 1);
    letter-spacing: 1px;
    transition:  0.1s ease;
    letter-spacing: 4px;

}
.back-button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    background: rgba(255, 55, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 3px;
    font-size: 32px;
    color: whitesmoke;
    width: 139px;
}
@media screen and (max-width: 1480px) {
    h1 {
        font-size: 44px;
    }
      
}
@media screen and (max-width: 1370px) {
    h1 {
        font-size: 38px;
        position: relative;
    }
 
}
@media screen and (max-width: 700px) {
    h1 {
        font-size: 32px;
    }
    .back-button,
    .submitButton {
        padding: 15px 22px;
        font-size: 22px;
        width: 100px;
    }
    .label {
        font-size: 22px;
    }
    .settings-form input {
        width: 150px;
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    .back-button,
    .submitButton {
        padding: 15px 22px;
        font-size: 22px;
        width: 100px;
    }
}
  
