@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=League+Gothic&family=Staatliches&display=swap');

:root {
    
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --primary-color: #e65c00;
    --gradient-background: linear-gradient(to right, #F9D423, #e65c00); 
  }
  